a {
  text-decoration: none;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-w-100 {
  width: 100%;
}

.head {
  width: 100%;
  min-height: 155px;
  position: relative;
}

.head-bg-img {
  width: 100%;
  height: 155px;
  background-color: #951f05;
}

.head-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  /* background-color: aqua; */
  box-sizing: border-box;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-nav-left ul,
.head-nav-right-box2 ul {
  display: flex;
  align-items: center;
}

.head-nav-left-li {
  margin-right: 12px;
}

.head-nav-left-li a {
  font-size: 14px;
  color: #fff;

}

.head-logo {
  margin-right: 6px;
  font-size: 18px;
}

.head-app {
  margin-right: 0;
}

.head-nav-center {
  width: 450px;
  height: 36px;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
}

.search-ipt {
  width: 430px;
  height: 36px;
  box-sizing: border-box;
  border: 0;
  padding-left: 10px;
}

.search-btn {
  width: 48px;
  height: 36px;
  border: none;
  border-radius: 2px;
  background: #e7e7e7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn .search-icon {
  font-size: 18px;
  font-weight: 600;
}

.search-btn .search-icon:hover {
  color: #73c9e5;
}

.head-nav-right-box1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 12px;
}

.head-nav-right-box1 img {
  width: 40px;
  height: 40px;
}

.head-nav-right {
  display: flex;
  align-items: center;
}

.contribution-btn {
  width: 100px;
  height: 36px;
  background-color: #fb7299;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

/* 全站nav */
.nav {
  width: 100%;
  height: 108px;
}

.nav-main {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-main-left ul {
  display: flex;
  align-items: center;
}

.nav-main-left {
  height: 108px;
  display: flex;
  align-items: center;
}

.nav-main-left-li {
  margin-right: 16px;
}

.nav-main-left-li a {
  font-size: 14px;
  color: #212121;
  text-align: center;
  display: inline-block;
}

.a-icon-box {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  overflow: hidden;
}

.a-icon-box-f57 {
  background-color: #ff5c7c;
}

.a-icon-box-f76 {
  background-color: #ff716d;
}

.a-icon-box-6c8 {
  background-color: #6dc781;
}

.nav-main-line {
  height: 46px;
  border-right: 1px solid #e7e7e7;
}

.nav-main-center {
  width: 730px;
  height: 68px;
}

.nav-main-center ul {
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-main-center-li .a-hover-box {
  display: none;
  width: 100px;
  height: 100px;
  background-color: #f3f;
}

.nav-main-center-li .a-title {
  width: 90px;
  height: 34px;
  font-size: 14px;
  color: #212121;
  display: flex;
  align-items: center;
}

.nav-main-center-li .a-title .a-title-span {
  /* font: 14px -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif; */
  display: inline-block;
  width: 32px;
  font-size: 12px;
  color: #fff;
  background-color: #73c9e5;
  border-radius: 2px;
  margin-left: 1px;
  line-height: 14px;
  text-align: center;
}

.nav-main-center-li a:hover .a-hover-box {
  display: block;
}

.nav-main-center-li a:hover .a-title {
  color: #73c9e5;
}

.nav-main-center-li a {
  position: relative;
  display: block;
}

.nav-main-center-li:nth-child(-n+8) a .a-hover-box {
  position: absolute;
  bottom: 36px;
  left: -10px;
}

.nav-main-center-li:nth-child(n+9) a .a-hover-box {
  position: absolute;
  top: 36px;
  left: -10px;
}

.nav-main-right {
  width: 220px;
  background-color: #fb7299;
  height: 88px;
}

/* .nav-main-center-li:nth-child(1-8) a .a-hover-box */

/* 这里是有swiper的wrap */
.wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.wrap-swiper {
  width: 550px;
  height: 242px;
  border-radius: 2px;
  background-color: #6dc781;
}

.wrap-rcmd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 242px;
  width: 638px;
}



.wrap-change-btn {
  position: absolute;
  height: 77px;
  width: 28px;
  background-color: #ff716d;
  right: -36px;
  top: 20px;
}

.wrap-left {
  width: 854px;

}

.wrap-left-title {
  width: 100%;
  height: 36px;
  margin-bottom: 16px;
  background-color: #212121;
  color: #fff;
  text-align: center;
}

.wrap-right {
  width: 320px;
  height: 244px;
  background-color: #6dc781;
}

.wrap-left-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrap-left-list-box {
  width: 206px;
  height: 192px;
  background-color: #951f05;
}

.advertisement {
  width: 1200px;
  height: 134px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #fb55a1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bili-main {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.bili-main-left {
  width: 854px;
  height: 456px;
  background-color: #f2f2f2;
}

.bili-main-left .bili-main-left-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bili-title-left {
  display: flex;
  align-items: center;
}

.bili-title-left-icon {
  font-size: 36px;
  display: inline-block;
  padding-bottom: 10px;
}

.icon-zhibo {
  color: #48cfe5;
}

.bili-title-left-txt {
  font-size: 20px;
  margin: 0 20px 0 6px;
  line-height: 36px;
}

.bili-title-left p {
  color: #505050;
}

.bili-main-right {
  width: 320px;
  background-color: #fff;
}

.change-btn,
.more-btn {
  width: 72px;
  height: 22px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid silver;
  border-radius: 2px;
  font-size: 12px;
  color: #505050;
  line-height: 20px;
  cursor: pointer;
}

.change-btn:hover .bili-change-btn-icon {
  transform: rotate(-360deg);

  transition: all .5s;
}

.bili-change-btn-icon {
  display: inline-block;
  font-size: 14px;
  transform: rotate(0);
  margin-right: 6px;
  transition: all .2s;
  /* 设置旋转中心位置  起点是left top 左上角 */
  transform-origin: center center;
}

.bili-more-btn-icon {
  display: inline-block;
  font-size: 12px;
}

.bili-title-right {
  display: flex;
  align-items: center;
}

.more-btn {
  width: 60px;
  margin-left: 10px;
}

.bili-main-left-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 404px;
}

.bili-main-left-list .list-box {
  width: 206px;
  height: 190px;
  background-color: #fb55a1;
}

.bili-live-tabs {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.bili-live-tabs-li {
  font-size: 12px;
  line-height: 18px;
  height: 22px;
  margin-right: 12px;
  cursor: pointer;
}
.bili-live-tabs-li.active{
    color: #73c9e5;
    position: relative;
}
.bili-live-tabs-li.active::before{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #48cfe5;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.bili-live-switch{
  width: 100%;
  height: 374px;
  background-color: #48cfe5;
  display: none;
  
}

.rcmd-box {
  position: relative;
  width: 206px;
  height: 116px;
  background-color: #fb7299;
}
.rcmd-box-a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.rcmd-box-a img{
  width: 100%;
}
.rcmd-box-info{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  padding: 26px 10px 10px;
  box-sizing: border-box;
}
.rcmd-box-info-nostyle{
  transition: all .5;
  top: 64px;
  background:  linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,0));
}
.rcmd-box-info-tit{
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  height: 36px;

}
.rcmd-box-info-center{
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  font-size: 12px;
  
}
.ellipsis1{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.ellipsis2{
  
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.up-icon{
  display: inline-block;
  box-sizing: border-box;
  font-size: 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  line-height: 14px;
  text-align: center;
  padding: 0 2px;
  margin-right: 5px;
}
.rcmd-box-info-bottom{
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-icon-box{
  width: 28px;
  height: 28px;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  background-color: rgba(0, 0, 0, .5);
  position: relative;
}
.play-icon-box p{
  display: none;
  position: absolute;
  top: -75%;
  left: -80%;
  font-size: 12px;
  width: 60px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, .5);
}
.play-icon-box:hover p{
  display: block;
}

/* .rcmd-box-a:hover .rcmd-box-info-nostyle{
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  animation: moveBToT .5s;
}
.rcmd-box-a:hover .ellipsis1{
  white-space:normal;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@keyframes moveBToT{
  0%{
    top: 64px;
  }
  100%{
    top: 0;
  }
} */