#swiper{
    width: 1046px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.swiper_main{
    width: 100%;
}
.swiper_img_list{
    display: flex;
    position: relative;
}
.swiper_img_list img{
    width: 860px;
}

.dot_list{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 185px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.dot_item{
    width: 185px;
}
.dot_item:hover{
    box-sizing: border-box;
    border:1px solid pink;
}
.dot_item.active{
    box-sizing: border-box;
    border:1px solid pink;
}
.dot_item img{
    width: 100%;
}